
@{
    ViewData["Title"] = "Create Lobby";

    string errorMessage = ViewData["ErrorMessage"] == null ? string.Empty : (string)ViewData["ErrorMessage"];
    //string playerName = ViewData["playerName"] == null ? string.Empty : (string)ViewData["playerName"];
    string lobbyName = ViewData["lobbyId"] == null ? string.Empty : (string)ViewData["lobbyId"];
    int level = ViewData["level"] == null ? 0 : (int)ViewData["level"];
}


<div class="d-flex justify-content-center container">
    <div class="justify-content-center">
        <h2>Create new lobby</h2>
        @if (!errorMessage.Equals(string.Empty))
        {
            <div>
                <p class="alert alert-danger" role="alert">
                    @errorMessage
                </p>
            </div>
        }
        <div>
            <form asp-controller="Lobby" asp-action="CreateLobby" method="post">
@*                 <label> Your nickname:</label>
                <input type="text" class="form-control" name="playerName" value="@playerName"> *@
                <label> New lobby name:</label>
                <input type="text" class="form-control" name="id" value="@lobbyName">
                <br/>
                <label> Select level:</label>
                <select class="form-control" name="level">
                    <option value="1">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                    <option value="4">Random</option>
                </select>
                 <br />
                

                <button type="submit" class="btn btn-primary btn-block">Create</button>
            </form>
        </div>
    </div>
</div>
