@{
    ViewData["Title"] = "Lobby";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string playerName = (string)ViewData["playerName"];
    string lobbyName = (string)ViewData["lobbyId"];
    bool isHost = ViewData["IsHost"] == null ? false : (bool)ViewData["IsHost"];
}

<div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center">
        <h1> @ViewData["lobbyId"] lobby</h1>
    </div>
</div>

<br />
<div id="playerCards" class="d-flex justify-content-center">
</div>
<br />
@if (isHost)
{
    <div class="d-flex justify-content-center">
        <button id="startButton" type="button" class="btn btn-success">Start game</button>
    </div>
}
<br />
<div class="d-flex justify-content-center">
    <div id="CanvasDiv" align="center">
        <canvas id="Canvas" style="visibility: hidden;"></canvas>
    </div>
    <div id="scoreBoard" class="d-flex flex-column">
        <!-- Scoreboard will be dynamically added here -->
    </div>
</div>

<script src="~/js/CustomLinkedList.js"></script>
<script src="~/js/SignalRController.js"></script>
<script src="~/js/Cell.js"></script>
<script src="~/js/CanvasRendering.js"></script>
<script src="~/js/CellContainer.js"></script>
<script src="~/js/GameController.js"></script>
<script src="~/js/Dispatcher.js"></script>
<script src="~/js/Main.js"></script>