
@{
    ViewData["Title"] = "Join Lobby";
    string errorMessage = ViewData["ErrorMessage"] == null ? string.Empty : (string)ViewData["ErrorMessage"];
    string playerName = ViewData["playerName"] == null ? string.Empty : (string)ViewData["playerName"];
    string lobbyName = ViewData["lobbyId"] == null ? string.Empty : (string)ViewData["lobbyId"];
}

<div class="d-flex justify-content-center container">

    <div class="justify-content-center">
        <h2>Join existing lobby</h2>
        @if (!errorMessage.Equals(string.Empty))
        {
            <div>
                <p class="alert alert-danger" role="alert">
                    @errorMessage
                </p>
            </div>
        }
        <div>
            <form asp-controller="Lobby" asp-action="JoinLobby" method="post">
                <label> Your nickname:</label>
                <input type="text" class="form-control" name="playerName" value="@playerName">
                <label> Lobby name:</label>
                <input type="text" class="form-control" name="id" value="@lobbyName">
                <br/>
                <button type="submit" class="btn btn-success btn-block">Join</button>
            </form>
        </div>
    </div>
</div>
