@{
    ViewData["Title"] = "Home Page";
}


@if (ViewData["ErrorMessage"] != null)
{
    <div class="d-flex justify-content-center">
        <div class="p-3 mb-2 bg-danger text-white">
            @ViewData["ErrorMessage"]
            Please create or join another lobby.
        </div>
    </div>
}

<div class="container">
    <h1 style="text-align: center;"> Play snake with fiends!</h1>
    <br />

    <div class="row" style="text-align: center;">
        <div class="col-sm">
            <form asp-controller="Lobby" asp-action="JoinLobby" method="get">
                <button type="submit" class="btn btn-success btn-lg btn-block btn-huge h-50">Join existing lobby</button>
            </form>
        </div>
        <div class="col-sm">
            <form asp-controller="Lobby" asp-action="CreateLobby" method="get">
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-huge">Create new lobby</button>
            </form>
        </div>
    </div>
</div>
